{% extends 'base.html.twig' %}

{% block title %}Wochentliche Speiseliste{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container text">
        <div class="mt-1">
            <h1>Wochentliche Speiseliste {{ montag }} - {{ sonntag }}</h1>
        </div>

        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        {% for tag in tage %} <!-- foreach in twigg -->
            <h3>{{ tag }}</h3>
            <div class="row">
                <div class="col">
                    {{ form_row(form["fruhstuck" ~ tag]) }}
                </div>
                <div class="col">
                    {{ form_row(form["snack" ~ tag]) }}
                </div>
                <div class="col">
                    {{ form_row(form["mittagessen" ~ tag]) }}
                </div>
                <div class="col">
                    {{ form_row(form["abendsbrot"~ tag]) }}
                </div>
            </div>
        {% endfor %}
        <div class="row d-print-none">
            <div class="col-3">
                {{ form_end(form) }}
            </div>
            <div class="col-3 mx-0 px-0">
                <button class="btn btn-secondary " onclick="window.print()">Druck</button>
            </div>

        </div>
    </div>
{% endblock %}
