{% extends 'base.html.twig' %}

{% block body %}

    <header >
    <div class="row ">
<div class="col align-items-center justify-content-end">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark "
             style="position: absolute; width:100%; opacity:0.9; color:#cf8422;">
            <div class="container-fluid">

                <a class="  navbar-brand" href="#"><img src="{{asset('images/icons8-food-bar-100.png')}}" height="45"
                                                      width="45" alt="logo">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav ">
                        <a class="nav-link " aria-current="page" href="{{ path('app_login') }}">Login</a>
                        <a class="nav-link " href="{{ path('app_registration') }}">Registration</a>
                    </ul>
                </div>
            </div>
        </nav>
</div>
    </div>
    </header>

    {# app/Resources/views/default/new.html.twig #}

    <section class="container my-3 px-6">
        <div class="row ">
        {{ form_start(form) }}

            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col -3">
                {{ form_row(form.nazev) }}

            </div>
            <div class="row ">
                <div class="col -3 "
                {{ form_row(form.druhy) }}
            </div>
        </div>

        <div class="row py-3">
            {{ form_end(form) }}
        </div>
    </section>
    </div>

{% endblock body %}




