{% extends 'base.html.twig' %}
{% block title %}Jidelnicek{% endblock %}
{% block body %}

    {# app/Resources/views/default/new.html.twig #}
    <section class="hintergrund" >
        <div class="container-fluid d-flex justify-content-around">

                <div class=" row col col-md-9 col-xl-8 py-md-5 pl-md-6 bd-content text  ">
                    <h3 class="bd-title">Neues Rezept</h3>
                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-6 col-xl-6 col-md-6 col-xxl-3">
                            {{ form_row(form.nazev) }}
                        </div>
                        <div class="col-3">
                            {{ form_row(form.kategorie) }}
                        </div>
                    </div>

                    <div class="row py-3">
                        {{ form_end(form) }}
                    </div>
                </div>

        </div>


    </section>


{% endblock body %}




